body {
    font-family: Arial, sans-serif;
    width: 300px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #3897f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2878c0;
}

#output {
    font-size: 14px;
    overflow-y: auto;
    max-height: 200px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

a {
    color: #030303;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
